SUPABASE_URL=https://pfldhvcmjnnfxnlcsptj.supabase.co/rest/v1/
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmbGRodmNtam5uZnhubGNzcHRqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzA0NTAxOCwiZXhwIjoyMDkyNjIxMDE4fQ.BuLupwXDX16PNwsdjCfdnBZE8mP0tj2kQ7vtxqV2IKI
UPSTASH_REDIS_REST_URL=https://notable-hippo-105886.upstash.io
UPSTASH_REDIS_REST_TOKEN=gQAAAAAAAZ2eAAIgcDIxZmMxYTRiMjUzNzc0MzgxOWNiYTVkYmYwZjUzYTQxNg
CRON_SECRET=stockpro1234567890abcdefghijklmn
ALLOWED_ORIGINS=http://localhost:3000,https://your-app.vercel.app
